body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* header section */

.header {
  /* border: 2px solid yellow; */
  min-height: 505px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.navigation {
  /* outline: 1px solid rgba(10, 15, 68, 0.649); */
  display: flex;
  align-items: center;
}

.navigation > .logo {
  /* outline: 1px solid red; */
  margin-left: 100px;
  width: 400px;
  flex: 0 1 auto;
}

.logo p a {
  color: #f9faf8;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
}

.navigation > .navlinks {
  /* outline: 1px solid red; */
  display: flex;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.main-content {
  /* outline: 1px solid blue; */
  display: flex;
  flex: 1 1;
  align-items: center;
}

.main-content > .content {
  /* outline: 1px solid rgb(255, 0, 238); */
  margin-left: 100px;
  width: 400px;
  flex: 0 1 auto;
}

.content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.content p {
  color: #e5e7eb;
  font-size: 18px;
}

.content .signup {
  background-color: #3882f6;
  font-size: 20px;
  width: 110px;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  color: white;
}

.main-content > .image {
  /* outline: 1px solid rgb(255, 0, 238); */
  margin: 0 auto;
  flex-shrink: 1;
}

.image img {
  width: 550px;
  height: 270;
}

/* info section */

.info {
  /* border: 2px solid red; */
  min-height: 450px;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.collections {
  /* border: 2px solid blue; */
  min-height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.collection img {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.collection p {
  /* border: 1px solid brown; */
  width: 200px;
  height: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #4f596a;
}

/* quote section */

.quote {
  background-color: #e5e7eb;
  min-height: 400px;
}

blockquote {
  /* border: 2px solid red; */
  width: 60%;
  margin: 7% auto;
}

.quote q {
  /* border: 1px solid blue; */
  font-size: 36px;
  font-style: italic;
  margin: 0;
}

blockquote footer {
  text-align: right;
  font-weight: bolder;
  font-size: 36px;
}

/* contact section */

.contact {
  /* border: 2px solid red; */
  height: 350px;
  color: #f9faf8;
}

.contact .call {
  /* border: 2px solid brown; */
  display: flex;
  width: 70%;
  margin: 8% auto;
  background-color: #3882f6;
  padding: 50px;
  border-radius: 10px;
  justify-content: space-around;
}

.call h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.call p {
  margin: 0;
  color: #e4eaf3;
  font-size: 20px;
}

.call .signup2 {
  color: #f9faf8;
  background-color: #3882f6;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
}

/* footer section */

.footer {
  background-color: #1f2937;
  height: 100px;
  color: #e4eaf3;
  font-size: 20px;
}

.footer footer {
  margin: 3% auto;
  width: 25%;
}

a {
  text-decoration: none;
  color: inherit;
}
